@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #EDF3F1;
  --background-end-rgb: #EDF3F1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.highligth-text{
  background: linear-gradient(
    to bottom,
    transparent 70%,
    #B7EB38 30%
  );
}
.highligth-text-reverse{
  background: linear-gradient(
    to bottom,
    transparent 60%,
    #B7EB38 40%
  );
}

@layer utilities {
  .active {
    @apply !text-green-light dark:!text-green-light underline underline-offset-8 decoration-slate-400;
  }
}